[Desktop Entry]
Encoding=UTF-8
Name=Analogies Filter
Name[el]=Φίλτρο αναλογιών
Name[en_GB]=Analogies Filter
Name[es]=Filtro de analogías
Name[et]=Analoogiafilter
Name[fr]=Filtre d'analogies
Name[ga]=Scagaire Analach
Name[gl]=Filtro de analoxías
Name[it]=Filtro analogie
Name[km]=តម្រង​ស្រដៀង​គ្នា
Name[nds]=Analogien-Filter
Name[nl]=Analogieën filter
Name[pt]=Filtro de Analogias
Name[pt_BR]=Filtro de Analogias
Name[ro]=Filtru analogii
Name[sv]=Analogifilter
Name[tr]=Örnekseme Süzgeci
Name[uk]=Фільтр порівняння
Name[x-test]=xxAnalogies Filterxx
Comment=
ServiceTypes=Krita/Filter
Type=Service
X-KDE-Library=kritaAnalogies
X-Krita-Version=2
